<!--Raivo created HTML page "guide" for the summary-->
<!--From the inputform. Right now it contains sample text for visuality -->

{% extends "base.html"%}

{% block nav %}
    <button class="navbar-toggler" type="button" id="toggle_button_border" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        {% load static %}
        <span id="toggle_button">
            <img src="{% static 'threelines.png' %}">
        </span>
    </button>
{% endblock %}

{% block content %}
<h3>Here will be the summary of manipulated text:</h3>
    <ol>
        <li>Remove Punctuations</li>
        <li>UpperCase</li>
        <li>New Line Remove</li>
        <li>Extra Space Remove</li>
        <li>Count Characters</li>
        <li>Spell Check</li>
        <li>Generate Summary Of a Word</li>
        <li>Remove 'Stop' words of your paragraph</li>
    </ol>


{% endblock %}
