<!--Raivo created HTML page "guide" for the summary-->
<!--From the inputform. Right now it contains sample text for visuality -->

{% extends "base.html"%}

{% block nav %}
    <button class="navbar-toggler" type="button" id="toggle_button_border" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        {% load static %}
        <span id="toggle_button">
            <img src="{% static 'threelines.png' %}">
        </span>
    </button>
{% endblock %}

{% block content %}
{% for k, v in content.items %}
    <h3>{{ k }}</h3>
    <p>{{ v }}</p>
    <hr>
{% endfor %}




{% endblock %}
