<!--Raivo created Index.html for inputform with textarea.-->
<!--Right now it contains sample text for visuality.-->

{% extends "base.html"%}

{% block content %}
<h3>Here will be our form</h3>
<textarea></textarea>
<ol>
        <li>Remove Punctuations</li>
        <li>UpperCase</li>
        <li>New Line Remove</li>
        <li>Extra Space Remove</li>
        <li>Count Characters</li>
        <li>Spell Check</li>
        <li>Generate Summary Of a Word</li>
        <li>Remove 'Stop' words of your paragraph</li>
    </ol>

<button><a href="/guide">Submit</a></button>


{% endblock %}
